body
{
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
}

header {
  margin-top: 50px;
  display: flex;
  padding-bottom: 30px;
}

h1 {
  font-weight: 600;
  font-size: 31.25px;
}

.menu {
  margin-left: auto;
}

button {
  width: 40px;
  border: none;
  background-color: white;
}

h2 {
  font-weight: 600;
  font-size: 31.25px;
}

h3 {
  color: #585457;
  font-weight: 500;
  font-size: 16x;
  padding-bottom: 30px
}

h4 {
  font-weight: 600;
  font-size: 15px;
  padding-top: 15px;
}

h5 {
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 30px;
}

p {
  color: #313131;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}

footer {
  padding-bottom: 30px;
}

footer p {
  font-size: 12.80px;
}