html {
    --cream: #EDE9E1;
    --dark-grey: #24241D;
    --light-white: #FEFDF8;
    --orange: #CD6D06;
    scroll-behavior: smooth;
  }

.header {
  background-image: linear-gradient(rgba(101, 101, 101, .35),rgba(101, 101, 101, .35)),url("../img/coffee.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1% 6%;
}

nav img {
  width: 125px;
}

.nav-links  {
  flex: 1;
  text-align: right;
  text-align: right;
}

.nav-links ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: var(--light-white);
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after {
  background: #CD6D06;
  content:"";
  display: block;
  height: 2px;
  margin: auto;
  transition: 0.5s;
  width: 0%;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  color:#FEFDF8;
  left: 170px;
  position: absolute;
  top: 350px;
  width: 90%;
}

.text-box h1 {
  font-size: 80px;
}

.text-box p {
  font-size: 28px;
}

nav .fa {
  display: none;
}

.about {
  background-color: #FEFDF8;
}

.two-column {
  background-color: #FEFDF8;
}

img {
  max-width: 100%;
}
  .column {
    padding: 3rem;
}

.column h2 {
  font-size: 50px;
  font-weight: 700;
}

.column p {
  font-size: 20px;
  font-weight: 400;
  padding-top: 15px;
}

.menu-section {
  background-color: var(--cream);
  border-top: 35px solid var(--orange);
}

.menu-section h1 {
  font-size: 50px;
  font-weight: 700;
  padding-top: 60px;
  text-align: center;
}

.menus-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
  margin-left: 140px;
  margin-right: 138px;
  margin-top: 140px;
}

.menus-container h2 {
  border-bottom: 7px solid #cd6d06;
  font-size: 35px;
  font-weight: 700;
}

.menu {
  padding: 1rem;
}

table {
  width: 100%;
}

th {
  padding: 1rem;
  text-align: left;
  font-size: 20px;
}

td {
  padding: 1rem;
}

.location {
  background-color: #FEFDF8;
}

img {
  max-width: 100%;
}
  .column2 {
    padding: 3rem;
    width: 100%;
}

.column2 h2 {
  border-bottom: 7px solid var(--orange);
  font-size: 50px;
  font-weight: 700;
}

.column2 h3 {
  font-size: 30px;
  font-weight: 700;
  padding-top: 15px;
}

.column2 p {
  font-size: 20px;
}

footer {
  background-color: var(--dark-grey);
  color: var(--light-white);
}

footer .column3 {
  padding-top: 5rem;
  padding-left: 10rem;
}

footer h4 {
  font-size: 30px;
  font-weight: 700;
}

footer p {
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and (min-width: 768px) {
  .menus-container {
    grid-template-columns: 1fr 1fr;
  }
  .menu {
    padding: 3rem;
  }
}

@media screen and (min-width: 800px) {
  .two-column {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem;
  }
}

@media screen and (min-width: 800px) {
  .two-column2 {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem;
  }
}

@media(max-width:700px) {
  .text-box {
    left: 75px;
  }
  .text-box h1 {
    font-size: 40px;
  }
  .nav-links ul li  {
    display: block;
  }
  .nav-links {
    background:#CD6D06;
    height: 100vh;
    position: absolute;
    right: -200px;
    text-align: left;
    top: 0;
    transition: 1s;
    width: 200px;
    z-index:2;
  }
  nav .fa {
    color: #FEFDF8;
    cursor: pointer;
    display: block;
    font-size: 22px;
    margin: 10px;
  }
  .nav-links ul {
    padding: 30px;
  }
}


